@import './base.css';

body{
  background-color: #f5f4f4 !important;
}

img{
  width: 100%;
}

.navbar{
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.17);
}
.navbar a{
  font-size: 20px;
}

.rtl{
  direction: rtl;
}


.english-font{
  font-family: Montserrat,sans-serif !important;
}

.arabic-font{
   font-family: 'Cairo', sans-serif !important;
}


footer {
  background: #ebf4fa;
}